In [1]:
import numpy as np
five_store = np.random.randint(100,10000,size=(5,30))
five_store_cumsum = five_store.cumsum(axis=1)
five_store_cumsum

array([[  8711,  12789,  18986,  20504,  24676,  32599,  39334,  41134,
         43906,  46940,  49857,  53488,  59783,  66565,  67160,  73061,
         82468,  84405,  94378, 102281, 104231, 104425, 105607, 106532,
        114644, 120309, 129743, 131109, 138394, 139463],
       [  8177,  11594,  16968,  18989,  23522,  31137,  36960,  38078,
         46506,  49663,  53153,  61207,  68925,  78457,  79215,  85780,
         92062,  94273,  95982,  99023, 106686, 114733, 118739, 126108,
        127298, 134550, 142431, 144664, 153658, 163513],
       [  6691,   7403,  15464,  25277,  33434,  38983,  45015,  47018,
         51317,  59473,  67824,  77619,  79766,  88601,  92389,  93027,
         98016, 105318, 113856, 116758, 117986, 120807, 121648, 130037,
        133584, 142758, 147071, 152594, 157053, 161530],
       [  6851,   9180,   9708,  12784,  14684,  23345,  26899,  31591,
         33138,  41075,  46395,  48665,  53512,  62476,  63767,  68874,
         69552,  79459,  82109,  85355,  88627,  96404,  98095, 101829,
        103067, 103436, 103612, 104971, 105595, 113852],
       [  7591,   7992,  11044,  18123,  20079,  29308,  33289,  41978,
         48036,  51059,  53231,  53885,  63332,  68034,  75237,  84492,
         92218,  97593,  99184, 108340, 118069, 120078, 128761, 134416,
        134716, 139416, 140057, 149295, 152708, 154233]])

In [ ]:
import pandas as pd

five_store = pd.DataFrame(five_store_cumsum,
             columns=[f"第{day}天" for day in range(1,31)],
             index = ["台北分站","新竹分店","台中分店","台南分店","高雄分店"])
five_store.T

      台北分站    新竹分店    台中分店    台南分店    高雄分店
1     8711    8177    6691    6851    7591
2    12789   11594    7403    9180    7992
3    18986   16968   15464    9708   11044
4    20504   18989   25277   12784   18123
5    24676   23522   33434   14684   20079
6    32599   31137   38983   23345   29308
7    39334   36960   45015   26899   33289
8    41134   38078   47018   31591   41978
9    43906   46506   51317   33138   48036
10   46940   49663   59473   41075   51059
11   49857   53153   67824   46395   53231
12   53488   61207   77619   48665   53885
13   59783   68925   79766   53512   63332
14   66565   78457   88601   62476   68034
15   67160   79215   92389   63767   75237
16   73061   85780   93027   68874   84492
17   82468   92062   98016   69552   92218
18   84405   94273  105318   79459   97593
19   94378   95982  113856   82109   99184
20  102281   99023  116758   85355  108340
21  104231  106686  117986   88627  118069
22  104425  114733  120807   96404  120078
23  105607  118739  121648   98095  128761
24  106532  126108  130037  101829  134416
25  114644  127298  133584  103067  134716
26  120309  134550  142758  103436  139416
27  129743  142431  147071  103612  140057
28  131109  144664  152594  104971  149295
29  138394  153658  157053  105595  152708
30  139463  163513  161530  113852  154233